<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Django</title>
</head>
<body>
    <div>
        <h1><a href="#">Projeto Django</a></h1>
    </div>
    <div>
        <p>publicado: 09/09/2021, 16:41</p>
        <h2><a href="#">Meu Primeiro post</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis totam corrupti saepe doloremque placeat porro eaque! Deserunt ex hic repellat veritatis. Totam, sint iste harum dolorum dignissimos laudantium inventore repellat!</p>
    </div>
    <div>
        <p>publicado: 09/09/2021, 16:43</p>
        <h2><a href="#">Meu segundo post</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In minus a hic laboriosam numquam reprehenderit maxime quo, atque eveniet optio ex similique eum accusantium facere repellat perferendis! Qui, aspernatur blanditiis.</p>
    </div>
</body>
</html>